<div id="wrapper">
  <div class="overlay"></div>

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
         <!-- Brand -->
       </a>
     </li>
     <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#portfolio">Portfolio</a>
    </li>
  <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projecten <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header"></li>
                    <li><a href="projecten/zero_waste.html">Zero Waste</a></li>
                    <li><a href="#">Kinderboek</a></li>
                    <li><a href="#">Stedenproject</a></li>
                    <li><a href="#">Stageverslag 1</a></li>
                     <li><a href="#">Studio Pets</a></li>
                      <li><a href="#">Huisstijl</a></li>
                    <li><a href="#">Stageverslag 2</a></li>
                    <li><a href="#">Spread</a></li>
                    <li><a href="#">Kunstkwartet</a></li>
                  </ul>
                </li> -->
                <li>
                  <a href="#about">About</a>
                </li>
                <li>
                  <a href="#resume">Resume</a>
                </li>
                <li>
                  <a href="#contact">Contact</a>
                </li>
              </ul>
            </nav>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <!-- <div id="page-content-wrapper"> -->
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
              <span class="hamb-top"></span>
              <span class="hamb-middle"></span>
              <span class="hamb-bottom"></span>
            </button>


            <div class="banner" id="home" style="background: linear-gradient(180deg, rgba(130,217,255,0.6) 0%, rgba(0,36,61,0.6) 80%), url('images/banner.jpg');">
              <div class="banner-content">
                <h1>Portfolio</h1>
                <h4>Eveline Tamis</h4>
                <p>Graphic designer & illustrator</p>
                <div class="row">
                  <ul class="list-inline">
                    <li class="icons"><a href="https://www.linkedin.com/in/eveline-tamis-549449120" target="_blank"> <i class="fa fa-linkedin-square fa-2x"></i></a></li>
                    <li class="icons"><a href="https://www.behance.net/EvelineT" target="_blank"><i class="fa fa-behance-square fa-2x"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="bounce">
                <a href="#portfolio"><i class="fa-angle-double-down"></a></i>
              </div>
            </div>

            <div class="wrapper-grey padded" style="background-color: #FFFFFF" id="portfolio">
              <div class="container" id="porto">
                <div class="row">
                  <% data.projecten.each do |title, project| %>
                  <div class="col-xs-12 col-sm-4" style="padding-left: 10px; padding-right: 10px">
                    <div class="card" style="background-image: url('<%= image_path project.card_picture %>');">
                      <div class="card-hover">
                        <%= project.title %>
                        <p class="text-white"><%= project.summary %></p>
                      </div>
                      <%= link_to "", "projecten/#{title}.html", class: "card-link" %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="wrapper-grey padded" id="about">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-8" style="padding-left: 10px; padding-right: 10px">
                    <div class="card_about">
                      <h2>About</h2>
                      <p>Hallo! Ik ben Eveline Tamis, vierdejaars student grafisch vormgeving op het Mediacollege. Welkom op mijn online portfolio. Op deze website laat ik mijn werk van de afgelopen vier jaar zien. </p>

                      <p>Ik ben altijd creatief bezig geweest. Het begon op de bassischool (Rudolf Steiner school/ Vrije school), met tekenlessen, schilderlessen, houtbewerking, handwerken en boetseren. Tekenlessen ben ik altijd blijven volgen. Na de middelbare school besloot ik een jaar High School in Amerika te volgen. Toen ik daar de les Graphic Design volgde, wist ik dat ik hiervan mijn beroep wilde maken.</p>

                      <p>De foto links is gemaakt tijdens mijn stage bij Studio Pets by Myrna. Zie mijn andere werkervaringen hieronder.
                      </p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4" style="padding-left: 10px; padding-right: 10px">
                    <div class="card" id="card-photo" style="background-image: url('images/About.png');">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container" id="resume">
              <div class="row">
                <div class="col-xs-12 col-sm-4" style="padding-left: 10px; padding-right: 10px">
                  <div class="card_cv">
                    <p><b> Educatie </b></p>
                  </div>
                  <div class="card-resume">
                    <h3><b>Mediacollege 2012 - 2016 </b></h3>
                    <p>In 2012 ben ik mijn opleiding Grafisch Vormgeving gestart op het Mediacollege in Amsterdam. Hier heb ik leren vormgeven, creatief te denken en te werken in Adobe programma’s zoals: Indesign, Dreamweaver, Illustrator en Photoshop.</p>
                    <br>
                    <h3><b>High school Amerika 2011 - 2012, Stewartville MN </b></h3>
                    <p>Jaar High school in Amerika op Stewartville High School. Hier heb ik (creatieve) vakken gevolgd als Graphic Design (een kleine inspiratie om mijn opleiding grafisch vormgeving te beginnen) Advanced Foods, English, Child Development, Global Issues, American History en Pottery. Ook beheers ik nu zowel mondeling, als schiftelijk de Engelse taal.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4" style="padding-left: 10px; padding-right: 10px">
                  <div class="card_cv">
                    <p><b> Werkervaring</b></p>
                  </div>
                  <div class="card-resume">
                   <h3><b>Stage Studio Pets by Myrna 2/2015 - 10/2015  </b></h3>
                   <p>Tijdens mijn stage bij fotografiestudio Studio Pets by Myrna heb ik veel ervaring opgedaan in onder andere Photoshop, InDesign en Illustrator. Ik heb hier de kans gekregen om zelfstandig te werken aan het ontwerpen van allerhande stationary en asseccoires, maar ik heb ook veel geleerd over het fotograferen van (bewegende) dieren. </p>
                    <h3><b>Stage Gemini Design 9/2014 - 1/2015 </b></h3>
                    <p>Tijdens deze stage heb ik mij voornamelijk ontwikkeld in het programma Indesign. Mijn werkzaamheden bestonden uit het ontwerpen van offline marketing en reclame uitingen zoals; flyers, brochures, advertenties, posters en nieuwsbrieven voor grote klanten als bijvoorbeeld L’oréal, Philips en C.H. Robinson. </p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4" style="padding-left: 10px; padding-right: 10px">
                  <div class="card_cv">
                    <p><b> Vaardigheden</b></p>
                  </div>
                  <div class="card-resume">
                    <p>- Indesign</p>
                    <p>- Photoshop</p>
                    <p>- Illustrator</p>
                    <p>- Flash</p>
                    <p>- Dreamweaver</p>
                    <p>- De programma’s uit het Microsoft Office pakket</p>
                    <p>- Outlook</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="wrapper-contact" id="contact">
              <div class="box-contact" >
                <h2>Contact</h2>
                <div class="row">
                  <div class="col-xs-12 col-sm-5">
                    <p>
                      Ik ben momenteel beschikbaar voor freelance opdrachten.
                    </p>
                    <p>
                      Neem contact met mij op via dit formulier om mogelijkheden te bespreken.
                    </p>

                  </div>

                  <div class="col-xs-12 col-sm-7">
                    <form action="//formspree.io/evelinetamis@hotmail.com" class="form-booking" method="POST">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                          </div>
                        </div>
                        <div class="col-xs-8">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <textarea name="message" class="form-group form-control" rows="5" placeholder="Message"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <input type="submit" class="btn" style="width: 100%;" value="Submit">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- /#page-content-wrapper -->

          <!-- </div> -->


<!-- <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#home">Home</a>
  <a href="#porto">Portfolio</a>
  <a href="#about">About</a>
  <a href="#resume">Resume</a>
  <a href="#contact">Contact</a>
</div>

<span onclick="openNav()"><div id="nav-icon4">
  <span></span>
  <span></span>
  <span></span>
</div>
</span>


<div id="main"> -->




 <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
   <div class="item active">
     <%= image_tag 'beach.png' %>
     <div class="carousel-caption">
      <h3>Eveline Tamis</h3>
      <p>Grafisch vormgever & illustrator</p>
    </div>
  </div>
  <div class="item">
    <%= image_tag 'background.jpg' %>
    <div class="carousel-caption">
      <h3>Eveline Tamis</h3>
      <p>Grafisch vormgever & illustrator</p>
    </div>
  </div>
  <div class="item">
    <%= image_tag 'beach.png' %>
    <div class="carousel-caption">
      <h3>Eveline Tamis</h3>
      <p>Grafisch vormgever & illustrator</p>
    </div>
  </div>
</div>
</div> -->



 <!--      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('images/background.jpg');">
            <div class="card-hover">
              <h4>Project 1</h4>
              <p class="text-white">This is my work I'm proud of it.</p>
            </div>
        </div>
      </div>
    -->





    <!-- </div> -->





    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
